<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
</head>
<body>
  <header>
    <h1>Action Plan</h1>
    <form action="/add-tasks" method="POST">
      <input type="text" id="task" name="task" placeholder="Add your task" autofocus />
      <button type="submit">Add</button>
    </form>
  </header>
  <main>
    
  </main>
</body>
</html>